@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.separator {
  background: linear-gradient(
    rgba(255, 255, 255, 0) -2.34%,
    rgba(0, 0, 0, 0.65) 47.23%,
    rgba(0, 0, 0, 0.1) 100%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 64px;
  width: 2px;
}

.separator-dark {
  background: linear-gradient(
    rgba(24, 24, 24, 0.25) -2.34%,
    rgba(255, 255, 255, 0.2) 48.3%,
    rgba(0, 0, 0, 0.1) 100%,
    rgba(24, 24, 24, 0.25) 100%
  );
  height: 64px;
  width: 2px;
}

.gradient-text {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(277deg, rgb(167, 34, 246), rgb(0, 130, 245)) text;
}

.chipCard-dark {
  border-radius: 8px;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  border-width: 1px;
  border-style: solid;
  border-color: linear-gradient(rgba(255, 255, 255, 0.05));
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 8px 16px 0px rgba(4, 4, 4, 0.05);
  backdrop-filter: blur(25px);
}

.chipCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.primary-timeline {
  background: linear-gradient(
    to top,
    #f5f9ff,
    #f5f9ff 15%,
    #ff595e 70%,
    #ff6a6d 100%
  );
}

.gradient-border-light {
  background: linear-gradient(#f9fafb, #f9fafb) padding-box,
    linear-gradient(-135deg, #ffffffb3, #b3b3b3) border-box;
  border: 1px solid transparent;
}

/* .gradient-border-gray-145 {
  border: 1px solid transparent;
  background: linear-gradient(rgba(255, 255, 255, 0.3), transparent) padding-box,
    linear-gradient(145deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1))
      border-box;
} */

.slim-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.slim-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
}

.slim-scroll::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.slim-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
}

.custom-scroll::-webkit-scrollbar {
  width: 3px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #4a4a4a;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}

summary {
  display: block;
  position: relative;
}

summary::after {
  float: right;
  cursor: pointer !important;
  transition: 0.2s;
  font-size: 1.8rem;
  opacity: 0.5;
  content: "\002B";
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
}

details[open] summary::after {
  content: "\2212";
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
}

.background-gradient {
  background-image: linear-gradient(
    132deg,
    #ee2c3c 14.58%,
    #c5135d 65.1%,
    #6a11b0
  );
}
